
div.ui-filetree-pane {
	position: relative;
	width: 100%;
}


table.ui-filetree-table {
	width: 100%;
	height: 100%;
	border-spacing: 0;
}

th.ui-filetree-header {
	text-align: left;
	font-family: monospace;
	padding: 0.3em 0.5em;
}
tr.ui-filetree-entry {
	padding: 0;
}


td.ui-filetree-cell {
	font-family: monospace;
	background: #f8f8f8;
	border-bottom: 1px solid #e1e1e1;
	border-collapse: collapse;
	padding: 0.3em 0.5em;
	white-space: nowrap;
}

td.ui-filetree-cell:hover {
	background: #aaffff;
}


td.ui-filetree-cell span {
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 350px;
}























div.ui-tree-folder:not(.ui-tree-root) > div {
	margin-left: 20px;
}

div.ui-tree-folder-icon {
	width: 12px;
	height: 12px;
	background-color: yellow;
	display: inline-block;
}
