<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
<head>
  <!-- meta -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 

  <!-- jquery -->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js"></script>
  <!-- <script type="text/javascript" src="http://jquery-utils.googlecode.com/svn/trunk/src/jquery.arrayUtils.js"></script> -->
  
  <!-- syntaxhighlighter -->
  <script type="text/javascript" src="/javascripts/SH/scripts/shCore.js"></script>
  <script type="text/javascript" src="/javascripts/SH/scripts/shBrushJScript.js"></script>
  <link   type="text/css" rel="stylesheet" href="/javascripts/SH/styles/shCoreDefault.css" />
  
  <!-- jj -->
  <script type="text/javascript" src="/javascripts/jj.js"></script>
  
  
</head>
<body>
<div style="position:absolute; left:0px; top:0px; width:100%; height:100%;">

  
  
  <div style="position:absolute; left:400px;">
  <p>Here is some text for <%= @thing %></p>

 
  
  <script type="text/javascript">
  
  
  //=====================================================================
  // return selected text
  //=====================================================================
  function selection(){
    var t = '';
    if (window.getSelection) {
      t = window.getSelection();
    }
    else if (document.getSelection) {
      t = document.getSelection();
    }
    else if (document.selection) {
      t = document.selection.createRange().text;
    }
    return t;
  }
  
  //=====================================================================
  // clear selected text
  //=====================================================================
  function clear_selection() {
    if (window.getSelection) {
      window.getSelection().removeAllRanges();
    }
    else {
      document.selection.clear();
    }
  }
  
  
  
  
  /*
  
  $('document').ready(function()
  {
    
    
    $('div.container div.line').mouseup(function(e)
    {
      var to = index_of($(this));
      var from = window.from;
      
      // allow for people selecting bottom-to-top
      if (to < from) {
        var tmp = to;
        to = from;
        from = tmp;
      }
      
      // remove highlighting from previous selections
      if (window.previous_from && window.previous_to)
      {
        $('td.gutter div.line')
          .filter(function(x){
            return window.previous_from <= x && x <= window.previous_to;
          })
          .each(function(){
            $(this).removeClass('highlighted');
          })
          ;
        
        $('div.container div.line')
          .filter(function(x){
            return window.previous_from <= x && x <= window.previous_to;
          })
          .each(function(){
            $(this).removeClass('highlighted');
          })
          ;        
      }
      
      
      // no selection, no highlighting required
      if (selection() == "") return;


      // highlight gutter
      $('td.gutter div.line')
        .filter(function(x) {
          return from <= x && x <= to;
        })
        .each(function() {
          $(this).addClass('highlighted');
        })
        ;
      
      // highlight container and copy content
      var content = "";
      $('div.container div.line')
        .filter(function(x) {
          return from <= x && x <= to;
        })
        .each(function() {
          $(this).addClass('highlighted');
          content += $(this).text() + "<br>";
        })
        ;
      
      $('div#shower').html(content);
      
      window.previous_from = from;
      window.previous_to = to;
      
      jona.editor.highlighted = $('div.highlighted');
      clear_selection();
    });
  });
  */
  </script>

  <pre class="brush: js;">
    <% @text.each do |x| %>
    <%= x[1] %>
    <% end %>
  </pre>



  </div>


  <div id="shower" style="position:absolute; left:800px;">
  </div>

</div>
</body>

<script type="text/javascript">
  SyntaxHighlighter.highlight();
</script>

</html>

