<!DOCTYPE html>
<html>
<head>
  <title>Gitique</title>
  
  <%= csrf_meta_tag %>
  
  <!-- jquery -->
    <!-- core -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
    
    <!-- ui -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js"></script>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>

    <!-- mousewheel -->
    <script type="text/javascript" src="/javascripts/jquery.mousewheel.min.js"></script>
    
    <!-- modal -->
    <script type="text/javascript" src="/javascripts/jquery.simplemodal.1.4.min.js"></script>
  
  <!-- end -->
  
  
  
  
  
  <% if protect_against_forgery? %>
    <script type='text/javascript'>
      //<![CDATA[
        window._auth_token_name = "#{request_forgery_protection_token}";
        window._auth_token = "#{form_authenticity_token}";
      //]]>
    </script>
  <% end %>
  
  
  <!-- syntaxhighlighter -->
  <script type="text/javascript" src="/javascripts/SH/scripts/shCore.js"></script>
  <script type="text/javascript" src="/javascripts/SH/scripts/shBrushJScript.js"></script>
  <link   type="text/css" rel="stylesheet" href="/javascripts/SH/styles/shCoreDefault.css" />
  
  
  <!-- application -->
  <%= javascript_include_tag "application.js" %>
  <%= stylesheet_link_tag :all %>
  
</head>
<body>

<%= yield %>

</body>
</html>
